.generalContainer{

    height: 800px;;
    background-color: rgb(238, 230, 157);
}
.row1{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: cadetblue;
}
.row2{
    height: 75px;
    background-color: rgb(98, 81, 11);
    display: flex;
    align-items: center;
    justify-content: center;
}
#targetbtn{
    display:flex;
    align-items: center;
    height: 30px;
    margin-right:10px;
    text-shadow: 1px 1px red;
}
#advice{
    font-size: 1.7em;
    color: white;
    text-shadow:2px 2px darkblue;
}
h1{
    text-shadow: 2px 2px red;
}
.content{
    width: 800px;
    height: 350px;
    background-color: tomato;
    border: 1px solid rgb(63, 4, 4);
    box-shadow: 2px 2px 3px 3px royalblue;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    
    justify-content: center;
}
#targetAdvice{
    color: rgb(39, 28, 28);
    font-size: 2em;
    margin-left:5px;
}